USE [master]
GO
/****** Objeto: Database [premios_pruebatecnica] Fecha de script: 8/7/2026 02:02:36 ******/
CREATE DATABASE [premios_pruebatecnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'premios_pruebatecnica', FILENAME = N'C:\Users\DELL\premios_pruebatecnica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'premios_pruebatecnica_log', FILENAME = N'C:\Users\DELL\premios_pruebatecnica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [premios_pruebatecnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [premios_pruebatecnica]
GO
/****** Objeto: Table [dbo].[ganadores] Fecha de script: 8/7/2026 02:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ganadores](
	[id_ganador] [int] IDENTITY(1,1) NOT NULL,
	[cod_sorteo_premio] [int] NOT NULL,
	[cod_clientes] [int] NOT NULL,
	[nombre_cliente] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ganadores] PRIMARY KEY CLUSTERED 
(
	[id_ganador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[premios] Fecha de script: 8/7/2026 02:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[premios](
	[cod_premio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[esactivo] [int] NOT NULL,
 CONSTRAINT [PK_premios] PRIMARY KEY CLUSTERED 
(
	[cod_premio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sorteo] Fecha de script: 8/7/2026 02:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorteo](
	[cod_sorteo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha_ejecucion] [date] NOT NULL,
	[fecha_rango_incial] [date] NOT NULL,
	[fecha_rango_final] [date] NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[esactivo] [int] NOT NULL,
 CONSTRAINT [PK_sorteo] PRIMARY KEY CLUSTERED 
(
	[cod_sorteo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sorteo_premio] Fecha de script: 8/7/2026 02:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorteo_premio](
	[cod_sorteo_premio] [int] IDENTITY(1,1) NOT NULL,
	[cod_sorteo] [int] NOT NULL,
	[cod_premio] [int] NOT NULL,
	[maximo_ganadores] [int] NOT NULL,
 CONSTRAINT [PK_sorteo_premio_1] PRIMARY KEY CLUSTERED 
(
	[cod_sorteo_premio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[transacciones_clientes] Fecha de script: 8/7/2026 02:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones_clientes](
	[cod_transac] [int] IDENTITY(1,1) NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[nombre_cliente] [varchar](100) NOT NULL,
	[fecha_transac] [date] NOT NULL,
	[monto_transac] [decimal](10, 2) NOT NULL,
	[comercio] [varchar](100) NOT NULL,
	[numero_autorizacion] [int] NOT NULL,
 CONSTRAINT [PK_trasacciones_clientes] PRIMARY KEY CLUSTERED 
(
	[cod_transac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuario] Fecha de script: 8/7/2026 02:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_user] [varchar](100) NOT NULL,
	[clave_user] [varchar](100) NOT NULL,
	[fecha_ultimaconexion] [date] NOT NULL,
	[esactivo] [int] NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ganadores] ON 

INSERT [dbo].[ganadores] ([id_ganador], [cod_sorteo_premio], [cod_clientes], [nombre_cliente]) VALUES (1, 3, 1, N'carlos')
INSERT [dbo].[ganadores] ([id_ganador], [cod_sorteo_premio], [cod_clientes], [nombre_cliente]) VALUES (2, 7, 202, N'jetstereo')
INSERT [dbo].[ganadores] ([id_ganador], [cod_sorteo_premio], [cod_clientes], [nombre_cliente]) VALUES (3, 8, 3598, N'Tienda Lucia')
SET IDENTITY_INSERT [dbo].[ganadores] OFF
GO
SET IDENTITY_INSERT [dbo].[premios] ON 

INSERT [dbo].[premios] ([cod_premio], [descripcion], [esactivo]) VALUES (1, N'viaje a roatann', 1)
INSERT [dbo].[premios] ([cod_premio], [descripcion], [esactivo]) VALUES (2, N'Motos', 1)
INSERT [dbo].[premios] ([cod_premio], [descripcion], [esactivo]) VALUES (3, N'Tarjeta recargable', 1)
SET IDENTITY_INSERT [dbo].[premios] OFF
GO
SET IDENTITY_INSERT [dbo].[sorteo] ON 

INSERT [dbo].[sorteo] ([cod_sorteo], [nombre], [fecha_ejecucion], [fecha_rango_incial], [fecha_rango_final], [fecha_creacion], [esactivo]) VALUES (2, N'Verano 2', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), 1)
INSERT [dbo].[sorteo] ([cod_sorteo], [nombre], [fecha_ejecucion], [fecha_rango_incial], [fecha_rango_final], [fecha_creacion], [esactivo]) VALUES (3, N'Verano 3', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), 1)
INSERT [dbo].[sorteo] ([cod_sorteo], [nombre], [fecha_ejecucion], [fecha_rango_incial], [fecha_rango_final], [fecha_creacion], [esactivo]) VALUES (4, N'Verano 4', CAST(N'2026-05-16' AS Date), CAST(N'2026-04-01' AS Date), CAST(N'2026-04-28' AS Date), CAST(N'2026-04-16' AS Date), 1)
SET IDENTITY_INSERT [dbo].[sorteo] OFF
GO
SET IDENTITY_INSERT [dbo].[sorteo_premio] ON 

INSERT [dbo].[sorteo_premio] ([cod_sorteo_premio], [cod_sorteo], [cod_premio], [maximo_ganadores]) VALUES (3, 10, 1, 5002)
INSERT [dbo].[sorteo_premio] ([cod_sorteo_premio], [cod_sorteo], [cod_premio], [maximo_ganadores]) VALUES (4, 10, 1, 2002)
INSERT [dbo].[sorteo_premio] ([cod_sorteo_premio], [cod_sorteo], [cod_premio], [maximo_ganadores]) VALUES (5, 2, 2, 300)
SET IDENTITY_INSERT [dbo].[sorteo_premio] OFF
GO
SET IDENTITY_INSERT [dbo].[transacciones_clientes] ON 

INSERT [dbo].[transacciones_clientes] ([cod_transac], [cod_cliente], [nombre_cliente], [fecha_transac], [monto_transac], [comercio], [numero_autorizacion]) VALUES (250, 111, N'STAN RENE', CAST(N'2026-04-12' AS Date), CAST(200.00 AS Decimal(10, 2)), N'LOCAL COMERCIO', 111)
INSERT [dbo].[transacciones_clientes] ([cod_transac], [cod_cliente], [nombre_cliente], [fecha_transac], [monto_transac], [comercio], [numero_autorizacion]) VALUES (251, 222, N'STAN ROGELIO', CAST(N'2026-04-20' AS Date), CAST(400.00 AS Decimal(10, 2)), N'LOCAL COMERCIO', 222)
INSERT [dbo].[transacciones_clientes] ([cod_transac], [cod_cliente], [nombre_cliente], [fecha_transac], [monto_transac], [comercio], [numero_autorizacion]) VALUES (252, 333, N'PABLO ROGER', CAST(N'2026-04-20' AS Date), CAST(300.00 AS Decimal(10, 2)), N'LOCAL COMERCIO', 333)
SET IDENTITY_INSERT [dbo].[transacciones_clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [nombre_user], [clave_user], [fecha_ultimaconexion], [esactivo]) VALUES (1, N'carlo', N'carlo', CAST(N'2026-04-22' AS Date), 1)
INSERT [dbo].[usuario] ([id_usuario], [nombre_user], [clave_user], [fecha_ultimaconexion], [esactivo]) VALUES (3, N'l', N'l', CAST(N'2026-04-22' AS Date), 1)
INSERT [dbo].[usuario] ([id_usuario], [nombre_user], [clave_user], [fecha_ultimaconexion], [esactivo]) VALUES (4, N'Pedro', N'Pedro', CAST(N'2026-04-16' AS Date), 0)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[sorteo_premio]  WITH CHECK ADD  CONSTRAINT [FK_sorteo_premio_premios_1] FOREIGN KEY([cod_premio])
REFERENCES [dbo].[premios] ([cod_premio])
GO
ALTER TABLE [dbo].[sorteo_premio] CHECK CONSTRAINT [FK_sorteo_premio_premios_1]
GO
ALTER TABLE [dbo].[sorteo_premio]  WITH CHECK ADD  CONSTRAINT [FK_sorteo_premio_sorteo_1] FOREIGN KEY([cod_sorteo])
REFERENCES [dbo].[sorteo] ([cod_sorteo])
GO
ALTER TABLE [dbo].[sorteo_premio] CHECK CONSTRAINT [FK_sorteo_premio_sorteo_1]
GO
USE [master]
GO
